body {
    margin:0;
    padding: 0;
    background: #e0f5fc;
}
.nav-section {
    width: 100%;
    margin-top: 20px;
    padding-top: 80px;
}
.nav-style {
    width: 100%;
    background-color: #00171F;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: -90px;
}
.nav-link {
    margin: 0 20px;
}
.button-noche {
    width: 130px;
    height: fit-content;
    margin-top: 10px;
    margin-left: -300px;
    background-color: unset;
    color: white;
    border: 2px solid #bee9e8;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.button-dia {
    width: 90px;
    height: fit-content;
    margin-top: 10px;
    margin-right: -300px;
    background-color: unset;
    color: white;
    border: 2px solid #bee9e8;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.name {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: row-reverse;
    background: #00171F;
    padding-top: 90px;
}
.button-container {
    display: flex;
    justify-content: start;
}
.sobre-mi {
    width: auto;
    background-color: unset;
    color: white;
    border: 2px solid #bee9e8;
    border-radius: 12px;
    font-size: 27px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}
.contenido {
    margin-right: 300px;
}
.contenido .p1{
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 65px;
    margin-top: 10px;
}
.contenido .p2{
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}
.modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.modal-container .modal-content {
    background-color: white;
    box-shadow: 0px 1px 54px 10px rgba(0, 0, 0, 0.815);
    margin: auto;
    padding: 12px;
    border: 2px solid #450920;
    border-radius: 20px;
    width: 60%;
}
.img {
    margin-bottom: 10px;
    margin-right: 5%;
    overflow: hidden;
}
.img img {
    width: 190px;
    height: auto;
    margin-top: -80px;
}
.info {
    width: 90%;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,100,1) 1%, rgba(9,100,121,0.5634628851540616) 13%, rgba(111,120,122,0.36738445378151263) 96%, rgba(189,192,217,0.9304096638655462) 99%);
    margin: 5% auto;
    padding: 20px;
    padding-top: 90px;
    border-radius: 20px;
    box-shadow: 0px 1px 54px 10px rgba(0, 0, 0, 0.815);
}
.info-otros {
    margin-bottom: 300px;
    padding-top: 50px;
}
.info .tituloSeccion {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #c0afafa1 solid;
}
.info .titulo {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    display: inline;
    margin-right: 20px;
}
.info .respuesta {
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size:large ;
    display: inline;
}
.cards-container {
    margin-top: 40px;
}
.card-style {
    width: 370px;
    margin: 0;
    opacity: .7;
    transition: .5s ease;
}
.card-style:hover {
  cursor: crosshair;
  width: 390px;
  opacity: 1;
  filter: contrast(110%);
  border: 2px solid #335c67;
}
.card-text {
    font-size: 16px;
}
.card-text:hover {
    font-size: 17px;
}
.pie {
    color: #050505;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size:large ;
    text-align: center;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}